body{
  background-image:url(./Css%20stuff/backgroundimg.png);
  color: #333;
  font-family: 'Indie Flower', cursive;
      background-color: rgb(60, 168, 109, 0.4);
}

h2 {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
text-align: center;
color: #333;
background-color: rgb(60, 168, 109, 0.4);

}

.container {
  display:flex;
  flex-direction: column;
   align-items: center;
  text-align: center;
}

.search-user {
  background-color: rgba(109, 172, 137, 0.6);
  padding:2%;
  padding-top: 4%;
  border-radius: 10%;
}
.login {
  background-color: rgba(109, 172, 137, 0.6);
  padding:3%;
  border-radius: 10%;
}


.search-user h3 {
  margin-top: -6%;
}

 .login h3 {
  margin-top: -2%;
 }

 input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
font-family: 'Indie Flower', cursive;
outline-color: rgba(109, 172, 137);
color: #333;
 }
 #pass {  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: color: #333;
font-family: 'Indie Flower', cursive;
outline-color: rgba(109, 172, 137);

 }

 .search-button, #sign-in {
  background-color: rgba(68, 65, 65, 0.288);
  border: 0px;
  color: #333;
  font-size: 20px;
  width: 100px;
  margin: 5px 0 0 0;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
 }